<p id="notice"><%= notice %></p>

<body onload="init_geoloc();">

  <!-- Start Top Bar -->
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text"><%= image_tag "fiLogo.png",size: "200x103"%></li>
      </ul>
    </div>

    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="http://jlm2017.fr/">Site officiel</a></li>
        <li><a href="https://www.facebook.com/mavoixjuin2017/?fref=ts">Facebook</a></li>
        <li><a href="https://twitter.com/mavoix2017">Twitter</a></li>
      </ul>
    </div>

  </div>

  <div>Panneaux le plus prêt</div>

  <h1 id="closest_panneau"> panneau le plus prêt</h1>

  <div type="new_checkin" class="button" url="" onclick="check_this_baby(true);">
    c'est bon
  </div>
  <div type="new_checkin" class="button" url=""  onclick="check_this_baby(false);">
    C'est pas bon
  </div>

  <br>
  <table>
  <%@panneaus.each do |panneau|%>
    <tr>
      <td> <%= panneau[:name] %> </td>
      <td>
        <% if panneau[:last_check]%>
          <%= panneau[:last_check] %>
        <% else %>
          Jamais inspecté
        <% end%>
      </td>
      <td>
        <% if panneau[:is_ok] %>
          <i class="gen-enclosed foundicon-checkmark"><p>nickel chrome</p></i>
        <%else%>
          <i class="social foundicon-thumb-down panneau_pourri"><p>Pourri</p></i>
        <%end%>
      </td>
    </tr>
  <%end%>
  </table>
  <!-- End Top Bar -->

</body>
